@charset "utf-8";
*{ margin:0; padding:0;}
ul,li{ list-style:none;}
a{ color:#666; text-decoration:none;}
a:hover{ text-decoration:none; color:#000;}
img{border:0 none;}
#content{
	width:1200px;
	margin: 0 auto;

}
.header{
	width: 100%;
	height: 30px;
	border-top:6px solid #2B9291;
	background:rgba(0,0,0,0.1) ;
}
.header_center{
	width: 1200px;
	height: 30px;
	line-height: 30px;
	margin: 0 auto;
	
}
.header_center a{
	font-size: 14px;
	font-family: "Microsoft YaHei";
}
.nav_first{
	width: 390px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.nav_first ul{
	width: 390px;
	height: 30px;
}
.nav_first ul li{
	width: 130px;
	height: 30px;
	line-height: 30px;
	list-style: none;
	float: left;
	text-align: center;
}
/*搜说框*/
.search{

	float: right;
	margin-left: -500px;
	margin-right: 200px;
	margin-top: 2px;


}
.search form{
	width:210px;
	height: 26px;
	line-height:26px;
	border-radius: 24px;
	border:1px solid #2B9291;
	position: relative;
}
.search form input:first-child{
	border: none;
	outline: none;
	background: none;
	height: 22px;
	line-height: 22px;
	width:174px;
	color:#666;
	text-indent: 20px;
	position: absolute;
	top:2px;
	font-size: 14px;
}
.search form input:last-child{
	border:none;
	outline: none;
	background: none;
	height: 22px;
	width:30px;
	background: url(../images/special/ico_search.png) no-repeat;
	position: absolute;
	right:0px;
	top: 5px;
	cursor: pointer;
}
/*.search form input:last-child:hover{
	background-position:0 -84px ;
	cursor: pointer;
}*/
.search .search-content a {
	display: inline-block;
	width:176px;
	border: 1px solid #e1e1e1;
	border-bottom: none;
	border-top:none;
	color:#666;
	text-indent: 10px;
	position: absolute;
	left: 20px;
	z-index: 10;
	background-color: rgba(255,255,255,0.8);
}
.search .search-content a:hover{
	color:#fff;
	background-color: rgba(9,123,248,0.8);
}
/*login register*/
.nav_last{
	/*clear: both;*/
	width:142px ;
	height: 30px;
	line-height: 30px;
	float: right;
	/*background: gold;*/
}
.nav_last ul{
	width:142px ;
	height: 30px;
	
}
.nav_last ul li{
	width: 71px;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 12px;
	white-space: nowrap;
	word-break: break-all;
	/*overflow: hidden;*/
}
#f_li{
	height: 36px;
	line-height: 30px;
	background-color: #2B9291 ;
	border-radius:0 0 15px 15px ;
	-webkit-border-radius:0 0 15px 15px ;
	-moz-border-radius:0 0 15px 15px ;
	-o-border-radius:0 0 15px 15px ;
	-ms-border-radius:0 0 15px 15px ;
	cursor: pointer;
	text-align: center;
}
#register{
	color: #fff;
}
#l_li{
	text-align: center;
}
#f_li:hover{
	background: rgba(43, 146, 145,0.8);
}
#new_li{
	position: relative;
}
#new_li ul{
	width: 142px;
	height: auto;
	background: #fff;
	box-shadow: 0 0 10px #eee;
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 99;
	text-align: center;
	display: none;
}
#new_li ul a{
	width: 142px;
	height: 30px;
	line-height: 30px;
	
	
}
#new_li ul img{
	vertical-align: middle;
	padding-right: 6px;
}
a:hover{
	color: #2B9291;
}
.nav_first ul li ul{
	width: 130px;
	height: auto;
	clear: all;
	background: #f2f2f2;
	display: none;
	border-left: 1px solid #eee;
	border-right : 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 0 0 10px #EEEEEE;
	position: relative;
	z-index: 2;
}
.nav_first ul li ul li{
	clear: all;
	width: 130px;
	height: 30px;
	line-height: 30px;
	float: none;
}
.nav_first ul li ul li:hover{
	background: rgba(255,255,255,0.4);
}
.triangle_up{
    position:relative;
}
.triangle_up span{
    display:block;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    border-color:transparent transparent #f2f2f2;/*透明 透明  黄*/
    position:absolute;
    top:-10px;
    left:60px;
}
/*header end*/
#top_nav{
	width:1200px;
	height: 100px;
	margin: 0 auto;
	
}
.nav_top,.nav_bottom{
	width: 1200px;
	display: inline-block;
}
#top_nav ul li{
	float: left;
	padding: 16px 50px 10px 50px;
}
section ul#nav_bottom li{
	padding: 10px 34px 10px 50px;
}

#main{position: relative; 
/*height: 1000px;
overflow-y:scroll ;*/
}
.box{
	padding:12px 0 0 8px;
	float:left;
}
.pic img:hover{
	box-shadow: 0px 3px 5px 2px #999;
}

.pic{
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	position: relative;
}
.pic img{
	width:203px;
	height:auto;
}
.summary {
	width: 203px;
	height: 36px;
	bottom: 0;
	left: 0;
	position: absolute;
	background: #333;
	opacity: 0.5;
	display: none;
}

.summarytxt {
	width: 183px;
	height: auto;
	line-height: 36px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
	font-weight: bold;
}